@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-dark: #333333;
  --color-brand-light: #f5f5f5;
  --color-brand-panel: #d7d7d7;
}

@layer base {
  body {
    @apply bg-brand-light text-brand-dark font-sans;
  }
}
